<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="edu.cuny.hunter.streamrefactoring.core.contributions.OptimizeStreamRefactoringContribution"
            id="org.eclipse.optimize.stream.contribution">
      </contribution>
   </extension>

</plugin>
