<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.jdt.ui.category.refactoring"
          defaultHandler="edu.cuny.hunter.streamrefactoring.ui.handlers.OptimizeStreamHandler"
          description="%OptimizeStreamDescription"
          id="edu.cuny.hunter.optimize.stream.command"
          name="%OptimizeStreamLabel"></command>
  </extension>
  <extension point="org.eclipse.ui.handlers">
    <handler class="edu.cuny.hunter.streamrefactoring.ui.handlers.OptimizeStreamHandler" commandId="edu.cuny.hunter.optimize.stream.command">
      <activeWhen>
        <with variable="selection">
          <iterate ifEmpty="false" operator="or">
            <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
          </iterate>
        </with>
      </activeWhen>
    </handler>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?after=additions">
      <!-- [rk] Doesn't seem to be working -->
      <command commandId="edu.cuny.hunter.optimize.stream.command" mnemonic="%command.mnemonic" id="edu.cuny.hunter.optimize.stream.menus.command">
        <visibleWhen checkEnabled="true"></visibleWhen>
      </command>
    </menuContribution>
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.refactoring.menu?after=additions">
      <command commandId="edu.cuny.hunter.optimize.stream.command" style="push">
        <visibleWhen checkEnabled="true"></visibleWhen>
      </command>
    </menuContribution>
  </extension>
</plugin>
